[submodule "json"]
	path = json
	url = https://github.com/ishellstrike/json
[submodule "lodepng"]
	path = lodepng
	url = https://github.com/ishellstrike/lodepng
[submodule "utfcpp"]
	path = utfcpp
	url = https://github.com/ishellstrike/utfcpp.git
[submodule "voronoi"]
	path = voronoi
	url = https://github.com/denesik/voronoi
[submodule "sge_ui"]
	path = sge_ui
	url = https://github.com/ishellstrike/sge_ui
